@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap");

/* all */

*, *::before, *::after {
  box-sizing: border-box;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

body {
  font-family: "Bruno Ace SC", sans-serif;
  line-height: 1.5;
}

/* base */

.container {
  width: 1296px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-end {
  justify-content: flex-end;
}

.align-items-center {
  align-items: center;
}

.py-40 {
  padding: 40px 0;
}

.pb-36 {
  padding-bottom: 36px;
}

.pb-32 {
  padding-bottom: 32px;
}

.ml-24 {
  margin-left: 24px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-36 {
  margin-bottom: 36px;
}

.w-636 {
  width: 636px;
}

.w-657 {
  width: 657px;
}

.w-526 {
  width: 526px;
}

.h1 {
  font-size: 128px;
}

.h2 {
  font-size: 64px;
}

.fs-24 {
  font-size: 24px;
}

.fs-20 {
  font-size: 20px;
}

.text-right {
  text-align: right;
}

.text-green {
  color: #00ffa3;
}

.btn {
  padding: 12px 24px;
  border-radius: 32px;
}

.btn-white {
  background: #ffffff;
  color: #000;
}

/* layout */

.header {
  background: #000;
  color: #d1d1d1;
  padding: 40px 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner {
  padding-top: 40px;
  background: #000;
  color: #ffffff;
}

.intro {
  background-image: url("img/background-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  padding: 160px 0;
}

.about {
  color: #15161d;
  padding: 160px 0;
}

.about-list {
  flex-wrap: wrap;
  gap: 24px;
}

.about-block {
  width: 306px;
  padding: 16px;
  border: #e3e3e3 solid 1px;
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.08);
}

.contact {
  background: linear-gradient(180deg, #050014 0%, rgba(1, 2, 30, 0.89) 100%);
  color: #ffffff;
  padding: 96px 0;
}

.social-link {
  border-radius: 40px;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.08);
}

.social-link:hover {
  transition: 1s;
  box-shadow: 0 0 16px 3px rgba(144, 148, 255, 0.9), 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.footer {
  background: #000;
  color: #ffffff;
  padding: 40px 0;
  text-align: center;
}